<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Lista de Produtos</h4>
    </div>
    <div class="float-end">
      <button type="button" class="btn btn-danger" [routerLink]="['']">
        Logout
      </button>
    </div>
    <div class="float-none">
      <a
        type="button"
        class="btn btn-primary"
        [routerLink]="['/products-list/new']"
      >
        Cadastrar Produto
      </a>
    </div>
  </div>
  <div id="AlertPlaceholder" class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Marca</th>
          <th scope="col">Preço</th>
          <th scope="col">Em estoque</th>
          <th scope="col">Estoque min.</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of product"
          [class.table-danger]="product.inStorage == 0"
        >
          <td>{{ product.name }}</td>
          <td>{{ product.brand }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.inStorage }}</td>
          <td>{{ product.minStorage }}</td>
          <td>
            <span class="float-end">
              <button
                class="btn btn-outline-warning mb-1 btn-sm"
                (click)="onEdit(product.id)"
              >
                Editar
              </button>
              {{ " " }}
              <button
                class="btn btn-outline-success mb-1 btn-sm"
                (click)="onVenda(product.id)"
              >
                Vender
              </button>
              {{ " " }}
              <button
                type="button"
                class="btn btn-outline-danger mb-1 btn-sm"
                (click)="onDelete(product)"
              >
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <ng-template #deleteModal>
  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    aria-labelledby="deleteModalLabel"
    aria-hidden="true"
    #deleteModal
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Atenção!</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">Deseja realmente excluir esse produto?</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="onDeclineDelete()"
          >
            Cancelar
          </button>
          <button 
            type="button" 
            class="btn btn-primary"
            (click)="onConfirmDelete()"
            >
            Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template> -->

<!-- <script>
  const alertPlaceholder = document.getElementById('AlertPlaceholder')

const alert = (message, type) => {
  const wrapper = document.createElement('div')
  wrapper.innerHTML = [
    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
    `   <div>${message}</div>`,
    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
    '</div>'
  ].join('')

  alertPlaceholder.append(wrapper)
}

const alertTrigger = document.getElementById('liveAlertBtn')
if (alertTrigger) {
  alertTrigger.addEventListener('click', () => {
    alert('Produto excluido com sucesso!', 'success')
  })
}
</script> -->
