<form class="row g-3 needs-validation" novalidate [formGroup]="formValue">
  <div class="col-md-12">
    <label for="name" class="form-label">Produto</label>
    <input 
    type="text" 
    class="form-control" 
    id="name" 
    formControlName="name" 
    required
    [value]="name"
    />
    <label for="brand" class="form-label">Marca do Produto</label>
    <input
      type="text"
      class="form-control"
      id="brand"
      formControlName="brand"
      required
      [value]="brand"
    />
    <label for="price" class="form-label">Preço do Produto</label>
    R$<input
      type="number"
      class="form-control"
      id="price"
      formControlName="price"
      required
      [value]="price"
    />
    <label for="inStorage" class="form-label">Em estoque</label>
    <input
      type="number"
      class="form-control"
      id="inStorage"
      formControlName="inStorage"
      required
      [value]="inStorage"
    />
    <label for="minStorage" class="form-label">Quantidade minima em estoque</label>
    <input
      type="number"
      class="form-control"
      id="minStorage"
      formControlName="minStorage"
      required
    />
    <br />
    <div>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()" >
        Salvar
      </button>
    </div>
  </div>
</form>
